html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}


@font-face {
    font-family: "pacFont";
    src: url(./otherStuff/PAC-FONT.TTF);
}

html {
    font-size: 125%;
    font-family: monospace;
}

body {
    height: 100vh;
    min-height: 600px;
    min-width: 320px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background: #fff8dc;
}

h1, 
h2,
h3, 
.startButton {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1, 
.startButton {
    font-family: pacFont;
    font-weight: 900;
}

h1 {
    font-size: 4rem;
}

h2 {
    margin: 10px 0;
    font-size: 1.6rem;
}

h3 {
    margin: 20px 0;
    font-size: 1.5rem;
}

p {
    margin: 5% 0;
    font-size: 1.5rem;
    font-family: monospace;
    text-align: center;
}

p:first-child {
    margin-top: 100px;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

.volumeToggle {
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 2.5rem;
}

.startButton {
    position: relative;
    margin: 10% 0;
    font-size: 3.5rem;
    transition: all 0.3s;
}

.startButton:hover {
    transform: scale(1.1);
}

.startButton::after {
    position: absolute;
    content: "";
    width: 30%;
    left: 35%;
    bottom: -5px;
    border-bottom: 3px dotted #000000;
}

.credit {
    font-size: 1rem;
    margin: 0 0 5px 0;
}

a {
    color: black;
}

/* Pac-World */

.score {
    display: block;
}

.charName {
    text-transform: capitalize;
    border-bottom: 2px solid black;
}

.pacWorld {
    text-align: center;
    padding-bottom: 10px;
}

.pacWorld > div {
    vertical-align: top;
    display: inline-block;
    width: 34px;
    height: 34px;
    background-size: cover;
}

.wall {
    background: #808080;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
}

.background {
    background: #fff8dc;
}

.coin {
    background: #556b2f;
    border: 13px solid cornsilk;
    border-radius: 50%;
}

.portal {
    background: linear-gradient(228deg, #ed3535, #ed8c35, #e4ed35, #5aed35, #35edb2, #358eed, #7f35ed, #ed35c9);
    background-size: 100% 100%;
    box-shadow: inset 0px 0px 30px #daa520;
    border-radius: 50%;
}

.rembrandt {
    background-image: url(./coolPics/rembrandt.png);
}

.enemy {
    background-image: url(./coolPics/dogCop.png);
}

.blinky {
    background-image: url(./coolPics/blinky.png);
}

.inky {
    background-image: url(./coolPics/inky.png);
}

.pinky {
    background-image: url(./coolPics/pinky.png);
}

.clyde {
    background-image: url(./coolPics/clyde.png);
}

progress {
    display: inline-block;
    width: 70%;
    margin: -7px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px black;
}

progress[value] {
    -webkit-appearance: none;
    appearance: none;
}

progress[value]::-webkit-progress-bar {
    border-radius: 5px;
    background: none;
}

progress[value]::-webkit-progress-value {
    background-image:
        -webkit-linear-gradient(-45deg, 
            transparent 33%, rgba(0, 0, 0, .1) 33%, 
            rgba(0,0, 0, .1) 66%, transparent 66%),
        -webkit-linear-gradient(top, 
            rgba(255, 255, 255, .25), 
            rgba(0, 0, 0, .25)),
        -webkit-linear-gradient(left, 
        #7ce667, #fef0a2, #e38787);
    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

progress[value]::-moz-progress-bar { 
    background-image:
        -moz-linear-gradient(
        135deg, 
        transparent calc(100% / 1.5), 
        rgba(0, 0, 0, 0.1) 33%, 
        rgba(0, 0, 0, 0.1) 66%, 
        transparent 33% 
        ),
        -moz-linear-gradient(
        top, 
        rgba(255, 255, 255, 0.25), 
        rgba(0, 0, 0, 0.25)
        ),
        -moz-linear-gradient(
        left, 
        #7ce667, #fef0a2, #e38787
        );  
    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%; 
}

.visuallyHidden:not(:focus):not(:active) { 
    position: absolute !important;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}

@media (max-height: 650px) {
    .pacWorld > div {
        height: 32px;
        width: 32px;
    }
    .coin {
        border: 12px solid #fff8dc;
    }
}

@media (max-height: 605px) {
    .pacWorld > div {
        height: 27px;
        width: 27px;
    }
    .coin {
        border: 10px solid #fff8dc;
    }
}

@media (max-width: 885px) {
    .volumeToggle {
        position: relative;
        right: 0;
        margin-top: 30px;
    }
    .squish {
        margin-top: 10px;
    }
    p:first-child {
        margin-top: 50px;
    }
    h1 {
        font-size: 3.5rem;
    }
    .startButton {
        font-size: 2.75rem;
    }
    .pacWorld > div {
        height: 30px;
        width: 30px;
    }
    .coin {
        border: 12px solid #fff8dc;
    }
}

@media (max-width: 690px) {
    body {
        padding: 35px 15px;
    }
    .volumeToggle {
        margin-top: 20px;
    }
}

@media (max-width: 590px) {
    p:first-child {
        margin-top: 5%;
    }
}

@media (max-width: 545px) {
    body {
        padding: 30px 10px;
    }
    p:first-child {
        margin-top: -15px;
    }
}

@media (max-width: 470px) {
    body {
        height: calc(var(--vh, 1vh) * 100);
    }

    h1 {
        font-size: 2.75rem;
    }

    h2 {
        margin-top: 0;
        font-size: 1.1rem;
    }

    .startButton {
        font-size: 2.5rem;
    }

    p {
        font-size: 1rem;
    }

    .pacWorld > div {
        height: 24px;
        width: 24px;
    }
    .coin {
        border: 7px solid #fff8dc;
    }
}

@media (max-width: 376px) {
    .pacWorld > div {
        height: 18px;
        width: 18px;
    }
    .coin {
        border: 4px solid #fff8dc;
    }
}